/* src/components/Pedidos.css */
.pedidos-container {
    text-align: center;
    padding: 20px;
  }
  
  .pedidos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  h1 {
    color: green;
    font-size: 24px;
  }

  button{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }

  .btnPedidos {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnConcluidos {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnEntregues {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnCancelados {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnPedidos:hover,
  .btn-concluidos:hover,
  .btn-entregues:hover,
  .btn-cancelados:hover {
    opacity: 0.8;
  }