.RealizarPedidos {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://t3.ftcdn.net/jpg/02/25/30/66/360_F_225306654_lHIbLLEuBDBDCbI5lGRCWUOPB6wBAK6l.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        z-index: -1;
    }

    /* Topo da página */
    .Topo {
        text-align: center;
        margin-bottom: 2em;
        position: relative;

        h1 {
            font-family: 'Lobster', cursive;
            font-size: 3.5em;
            font-weight: bold;
            color: #113253;
        }

        h4 {
            font-family: 'Lobster', cursive;
            font-size: 1.5em;
            font-weight: 400;
            color: #3f5a5a;
            margin-top: 0.5em;
        }
    }

    /* Ícone do carrinho */
    .cart-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        margin-top: 7em;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
        cursor: pointer;

        .cart-count {
            background-color: red;
            color: white;
            font-size: 0.8em;
            margin-left: 0.5em;
            padding: 0.2em 0.6em;
            border-radius: 50%;
        }
    }

    .cart-icon:hover {
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    }

    /* Container de Cartões */
    .container {
        display: flex;
        justify-content: center;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    /* Carrinho */
    .cart {
        margin-top: 2em;
        background-color: #f9f9f9;
        padding: 2em;
        border-radius: 10px;
        width: 60%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: left;

        h2 {
            font-size: 1.8em;
            margin-bottom: 1em;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 1.2em;
                padding: 0.5em 0;
                border-bottom: 1px solid #e0e0e0;
            }
        }
    }
}
